.profile {
    border-radius: 8%;
    width: 15%;
}

.link {
    width: 5%;
}

.link img {
    width: 100%;
}

.list{
    width: 95%;
    margin: auto;
    margin-bottom: 40px;
    padding: 10px;
    background-color: grey;

}

.mat-expansion-panel-header-description {
    display: flex;
    justify-content: flex-end;
  }


.objective {
    width: 80%;
    margin: auto;
}
